 
.form-container {
  display: flex;
  flex-wrap: wrap;
  border: 4px solid #000;
  background-color: #bee9aa94;
  width: 50%;
  margin: 100px;
  text-align: left;
  line-height: 30px;
  font-size: 40px;
}  

.tasklist {

  border: 4px solid #000;
  background-color: #72ac5794;
  width: 50%;
  line-height: 20px;
  font-size: 20px;
  margin: 100px;
  text-align: left;
}

h3 {
  
  width: 50%;
  margin: 100px;
  text-align: left;
  line-height: 10px;
  font-size: 30px;
}
