
 
.form-container {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid #000;
  background-color: #bee9aa94;
}  

.tasklist {

  width: 50px;
  border: 3px solid #000;
  background-color: #bee9aa94;
  width: 50%;
  line-height: 75px;
  font-size: 30px;
}


.div {
  box-sizing: border-box;
}

.form-container {
  
  width: 80%;
  margin: 100px;
  text-align: left;
  line-height: 30px;
  font-size: 40px;
}

h3 {
  
  width: 80%;
  margin: 100px;
  text-align: left;
  line-height: 30px;
  font-size: 30px;
}

.tasklist {
  
  width: 80%;
  margin: 100px;
  text-align: left;
  line-height: 30px;
  font-size: 20px;
}

